:root {
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --WHITE: #ffffff;
  --SLATE: #434455;
  --CLOUD: #f4f4fd;
  --OCEAN: #404bbf;
  --GREY: #2e2f42b2;
  --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
  --DAIRY: #fcfcfc;
}

body {
  color: #434455;
  background-color: var(--WHITE);
  display: flex;
  flex-direction: column;
}

.studio-body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before *::after {
  box-sizing: border-box;
}

/*Classes style*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  /*max-width: 408px;*/
  /*min-height: 584px;*/
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  min-width: 320px;
}
button {
  margin: 0;
}

.modal-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.svg-close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-close-button:hover,
.svg-close-button:focus {
  fill: #ffffff;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*style modal*/

.modal-content {
  margin: 72px 24px;
}

.modal-form {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.form-section {
  margin-bottom: 8px;
}

.box-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-box {
  position: relative;
}

.input-style {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-style:focus-within {
  border-color: #4d5ae5;
}
.input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-div:focus-within {
  fill: #4d5ae5;
}

.comment-section {
  margin-bottom: 16px;
}
.comment-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;

  border: 1px solid rgba(46, 47, 66, 0.4);
}
.comment-text {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-text:focus {
  border-color: #4d5ae5;
}
.comment-text::placeholder {
  margin: 8px 16px;
}
.form-paragraf {
  max-width: 360px;
  color: var(--brand-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.p-policy {
  margin-bottom: 24px;
}
.p-policy label {
  display: block;
}
.label-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  text-align: center;
  justify-content: center;
}
.span-policy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox-svg {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-policy {
  color: #4d5ae5;
}
.button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.p-input:checked + .label-policy span:first-child {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}
.input-style:focus + .input-svg {
  fill: #4d5ae5;
}

/*antetul*/

/*meniul pt mobil*/

.hamburger-menu {
  margin-left: 0;
  border: none;
  background-color: var(--WHITE);
  fill: var(--NAVY-BLUE);
  margin: 24px 0;
  cursor: pointer;
}

.mobile-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
  margin-right: 76px;
}

.nav-address-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mobile-close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-menu:hover,
.mobile-close-menu:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header {
  background: var(--WHITE, #ffffff);
  /* width: 1440px; */
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.top-head {
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
}
.navigation-container {
  /* background-color: var(--WHITE);*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navigation-list {
  /*display: flex;
gap: 40px;*/
  /*display: none;*/
}

.address-list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
  margin-right: 76px;
  display: none;
}

.link {
  text-decoration: none;
}

.logo-span-dark-header {
  color: var(--NAVY-BLUE);
}

.list {
  list-style: none;
  padding: 0;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  color: var(--NAVY-BLUE);
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.address-container {
  /*color: var(--SLATE);
    background-color: var(--WHITE);
    font-size: 16px;
    line-height: 24px;
    font-style: normal;*/
  /*display: none;*/
  margin-left: 0 auto;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-container:hover,
.address-link:focus {
  color: #404bbf;
}

/* hero content section */

.hero-image-section {
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/computerdesktop.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  /* padding: 188px 0;*/
  padding: 112px 0;
  max-width: 1440px;
  display: flex;
  justify-content: center;
}
.section {
  padding: 94px 0px;
}
.container-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image-header {
  color: var(--WHITE, #fff);
  /*font-size: 56px;
line-height: 1.07;*/
  text-align: center;
  /*letter-spacing: 0.02em;*/
  max-width: 496px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
}

.hero-image-button {
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;

  display: block;
  min-width: 169px;
  padding: 16px 32px;
  height: 56px;
  border: none;
  /*margin: auto;*/
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-image-button:hover,
.hero-image-button:focus {
  color: var(--WHITE, #ffffff);
  background-color: var(--OCEAN);
}

/*Section two*/

.trait-container {
  /*display: inline-flex;
  width: 100%;
  min-width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;*/
}

.svg-icon {
  /*display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;*/
  display: none;
}

.about-list {
  /*display: flex;
gap: 24px;
justify-content: center;*/
  display: flex;
  flex-direction: column;
}

.first-section-container {
  /*padding: 120px 0;*/
  padding: 96px 0;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.trait-container {
  width: 100%;
  /*min-width: 264px;*/
}

/*.li.trait-container{
    width: calc((100% - 72px) / 4);
}*/

.trait-header {
  color: var(--NAVY-BLUE, #2e2f42);
  /*font-size: 20px;
    
    line-height: 1.2;
    letter-spacing: 0.02em;*/
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-align: center;
}

.trait-description {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 150%; /* 150% */
  font-weight: 400;
  letter-spacing: 0.32px;
}

/*Sectiune trei*/

.two-section {
  /*background-color: var(--WHITE);
  padding-bottom: 120px;*/
  display: none;
}

/*.image-details {width: 100%;
min-width: 360px;}

.li.image-details{
    width: calc((100% - 48px) / 3);}*/

.section-two-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* section three: Our team */

.section-three-container {
  background-color: var(--CLOUD, #f4f4fd);
  /*padding: 120px 0;
  display: flex;
  margin: 0 auto;*/
  padding: 96px 0;
}

.team-member-container {
  background: var(--WHITE, #fff);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  /*width: 100%;*/
  min-width: 264px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*gap: 8px;*/
}

/*.li.team-member-container {
  width: calc((100% - 72px) / 4);
}*/

.team-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  /*gap: 24px;*/
}
.team-member-image {
  margin: 0 auto;
  width: 100%;
}
/*.team-details {
  min-width: 232px;
  padding: 8px 0;
}*/
.section-three-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-member-header {
  color: var(--NAVY-BLUE, #2e2f42);
  /* justify-content: center;*/
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-member-description {
  color: var(--SLATE);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-details {
  padding: 32px 0;
}
.team-icon {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon:hover,
.team-icon:focus {
  background-color: #404bbf;
}

.social-media-links {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  gap: 24px;
  /*padding: 32px 0;*/
}

.social-list {
  width: 40px;
  height: 40px;
}

.svg {
  fill: var(--CLOUD);
}

/*header*/

/*.container-header {
  max-width: 496px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
}*/

/*.header {
  border-bottom: 1px solid #e7e9fc;
  background: var(--white, #fff);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  display: flex;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  height: 72px;
}*/

.section {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
}

.image {
  display: block;
}
.logo {
  margin-right: 76px;
}

/*Index*/

/*body {
  background-color: var(--WHITE);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  height: 1440px;
  color: var(--SLATE);
}
*/
/*Header*/
/*.top-head {
  display: flex;
  justify-content: space-between;
}

.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}*/

.address-container {
  /*color: var(--text-color);
    background-color: var(--background-color);
    font-size: 16px;
    line-height: 24px;
    font-style: normal;*/
  /*display: none;*/
  margin-left: 0 auto;
}

.navigation-container,
.address-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-link {
  color: var(--NAVY-BLUE, #2e2f42);
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list {
  color: var(--navy-blue) #404bbf;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studioweb {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolioweb {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studioweb::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}

.portfolioweb:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--OCEAN);
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-container {
  font-style: normal;
}
.address-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--OCEAN);
}

.contacts > .address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}

/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
  margin-right: 76px;
  display: none;
}

.logo-span-dark-header {
  color: var(--NAVY-BLUE);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

/* section one styles , webstudio qualities */

/*.trait-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
*/
.navigation-list,
.trait-description {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 150%; /* 150% */
  font-weight: 400;
  letter-spacing: 0.32px;
}

.svg-icon {
  background-color: var(--CLOUD, #f4f4fd);
  fill: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  padding: 24px 100px;
  gap: 24px;
  margin-bottom: 8px;
}

/* section two : What are we doing */
.section-two-container {
  width: 1128px;
  height: 412px;
  flex-shrink: 0;
  margin: 120px;
}

/*.doing-section {
  display: flex;
  gap: 24px;
  /* justify-content: space-between;
}*/

/*.image-details {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--corn-flower-color);
  width: calc((100% - 48px) / 3);
}
*/

/*section five*/

.customers-section {
  display: flex;
  /*gap: 24px;*/
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  /*height: 88px;*/
}

.customer-section {
  /*padding-top: 96px;
  padding-bottom: 96px;*/

  padding-top: 120px;
  padding-bottom: 120px;
  /* width: 1440px; */
  /* min-width: 428px; */
}

.title-two {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customer-box {
  width: calc((100% - 16px) / 2);
}

.customer-link-icon {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link-icon:hover,
.customer-link-icon:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.customer-icon {
  fill: currentColor;
  /*display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 32px;*/
}

/*.customer-icon:hover,
.customer-icon:focus {
  fill: #404bbf;
}*/

/* footer section */

.footer-container {
  /* background-color: var(--NAVY-BLUE, #2e2f42);
  display: flex;
  justify-content: flex-start;
  align-items: left;
  padding: 100px 0;
  gap: 1px;
  align-items: baseline;
  padding-left: 156px;*/
  background-color: var(--NAVY-BLUE, #2e2f42);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.footer-bar {
  margin-right: 0;
  margin-bottom: 72px;
}

/*.footer-bar {
    margin-right: 120px;

}*/

.footer-element {
  background-color: var(--NAVY-BLUE);
  padding: 100px 0;
}
.footer-logo {
  background-color: var(--navy-blue);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /*margin-right: 76px;*/
  margin-right: 0;
  /*display: inline-block;*/
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.logo-span-dark-footer {
  color: var(--CLOUD);
}

.footer-additional-description {
  color: var(--CLOUD, #f4f4fd);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.title-icon-media {
  color: var(--WHITE, #fff);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-sec {
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-left: 0px;*/
  flex-wrap: wrap;
  display: flex;
  gap: 16px;
}

.social-list {
  width: 40px;
  height: 40px;
}

.footer-icon {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: #31d0aa;
}

.svg-f {
  fill: #f4f4fd;
}
/*.footer-social-media {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 120px;
  margin-right: 120px;
}
*/

/*footer-subscribe-formular*/

.footer-subscribe {
  /*margin-left: 40px;*/
  margin-top: 72px;
  margin-left: 0;
  padding: 0;
}

.title-subscribe {
  color: var(--WHITE, #fff);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.footer-formular {
  /*display: flex;*/
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.footer-label {
  gap: 24px;
}
.footer-inp {
  /*width: 264px;*/
  width: 300px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  margin-right: 24px;
  margin: 0 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

placeholder {
  color: #ffffff;
}

.subscribe-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
  min-width: 165px;
  cursor: pointer;
  border: none;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31d0aa;
}

.footer-inp::placeholder {
  padding: 8px 16px;
}

.subscribe-svg {
  margin-left: 16px;
}

.svg {
  fill: #f4f4fd;
}

@media (min-width: 768px) and (max-width: 1158px) {
  .hamburger-menu {
    display: none;
  }

  .mobile-logo {
    display: none;
  }

  .logo {
    display: block;
  }

  .top-head {
    position: relative;
  }

  .mobile-close-menu {
    display: none;
  }
  .mobile-social-media {
    display: none;
  }
  .navigation-list {
    display: flex;
    gap: 40px;
  }
  .address-container {
    display: block;
  }

  .address-list {
    display: block;
  }
  .first-section-container {
    padding: 96px 0;
  }
  .svg-icon {
    display: none;
  }
  .about-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .trait-container {
    width: calc((100% - 24px) / 2);
  }
  .two-section {
    display: none;
  }
  .section-three-container {
    /* width: 768px;
    height: 1224px;
    flex-shrink: 0;*/
    padding: 96px 108px;
  }

  .trait-header {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-align: start;
  }
  .team-list {
    flex-direction: row;
  }
  .team-member-container {
    width: calc((100% - 24px) / 2);
  }
  .customer-section {
    padding: 96px 108px;
  }

  .customers-section {
    flex-wrap: wrap;
  }
  .customer-box {
    width: calc((100% - 48px) / 3);
    margin: 0 auto;
  }
  .footer-element {
    padding: 96px 108px;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: start;
  }
  .footer-bar {
    margin-right: 120px;
  }
  .footer-logo {
    text-align: left;
  }
  .title-icon-media {
    text-align: start;
  }
  /* subscribe */
  .footer-formular {
    flex-wrap: nowrap;
    gap: 24px;
    flex-direction: row;
  }
  .footer-inp {
    width: 264px;
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .hamburger-menu {
    display: none;
  }

  .mobile-logo {
    display: none;
  }

  .logo {
    display: block;
  }

  .top-head {
    position: relative;
  }

  .mobile-close-menu {
    display: none;
  }
  .mobile-social-media {
    display: none;
  }
  .navigation-list {
    display: flex;
    gap: 40px;
  }
  .address-container {
    display: flex;
    color: var(--SLATE);
    /*background-color: var(--background-color);*/
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
  }
  /*.hamburger-svg {
    color: var(--NAVY-BLUE);
    fill: var(--NAVY-BLUE);
}*/
  .hero-image-header {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
  .hero-image-section {
    padding: 188px 0;
  }
  .first-section-container {
    padding: 120px 0;
  }
  .svg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .about-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
  }
  .trait-header {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .two-section {
    display: block;
    background-color: var(--WHITE);
    padding-bottom: 120px;
  }
  .image-details {
    width: 100%;
    min-width: 360px;
  }
  .li.image-details {
    width: calc((100% - 48px) / 3);
  }
  .first-section-container {
    padding: 120px 0;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-member-container {
    display: flex;
    flex-direction: column;
  }
  .li.team-member-container {
    width: calc((100% - 72px) / 4);
  }
  .customer-section {
    /* padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 16px;
    padding-right: 16px;*/
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-section {
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
  }
  .customer-box {
    width: calc((100% - 120px) / 6);
    margin: 0 auto;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    justify-content: center;
  }
  .footer-bar {
    margin-right: 120px;
  }
  .footer-logo {
    text-align: left;
  }
  .title-icon-media {
    text-align: start;
  }
  /*suscribe*/
  .footer-formular {
    flex-wrap: nowrap;
    gap: 24px;
    flex-direction: row;
  }
  .footer-subscribe {
    margin-left: 79px;
  }
  .footer-inp {
    width: 264px;
    margin: 0;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-image-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/computerdesktop.jpeg");
  }
}

@media screen and (max-width: 768px) {
  .nav-address-div {
    position: fixed;
    background-color: var(--WHITE);
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 35px;
    padding-bottom: 40px;
    flex-direction: column;
    text-align: flex-start;
    justify-content: space-between;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }

  .is-hidden-mobile {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  /*.navigation-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .navigation-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }*/
  .navigation-list {
    flex-direction: column;
    justify-content: left;
    background-color: #fff;
  }

  .list-item {
    margin: 16px 0;
  }
  .nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: 0.7s ease;

    /*font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    gap: 40px;*/
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .address-list {
    flex-direction: column;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }

  .address-link {
    margin-bottom: 40px;
  }
  .mobile-number {
    color: var(--IRIS, #4d5ae5);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .mail-address {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }

  .mobile-social-media {
    gap: 56px;
  }

  .hero-image-header {
    width: 320px;
    color: white;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-align: center;
    margin-bottom: 72px;
  }
  .team-icon {
    width: 40px;
    height: 40px;
  }

  .svg-icon {
    display: none;
  }
  .about-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
  }
  .trait-container {
    display: flex;
    width: 396px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .trait-header {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    align-self: stretch;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .trait-description {
    align-self: stretch;
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
  .two-section {
    display: none;
  }
  .section-three-container {
    width: 428px;
    height: 2232px;
    flex-shrink: 0;
    background: var(--CLOUD, #f4f4fd);
  }
  .section-three-header {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;

    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
  }

  .li.team-member-container {
    display: flex;
    padding-bottom: 32px;
    flex-direction: column;
    margin: 72px auto;
    gap: 32px;
  }

  .customers-section {
    width: 340px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 72px 16px;
    padding-left: 10px;
  }
  .customer-box {
    width: 150px;
    height: 88px;
  }
  .title-two {
    width: 197.469px;
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 40px;
    letter-spacing: 0.72px;
    word-wrap: break-word;
  }

  .modal {
    width: 428px;
    height: 796px;
    flex-shrink: 0;
    background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  }
  .modal-window {
    width: 392px;
    height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--DAIRY, #fcfcfc);
  }
  .button-send {
    width: 105px;
    color: var(--WHITE, #fff);
    text-align: center;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
  }

  .footer-social-media {
    flex-direction: column;
  }
}

/* ./PORTOFOLIO.HTML */

/* the list of buttons */
.visually-hidden {
  display: none;
}

.section-one-container {
  padding-top: 96px;
  padding-bottom: 120px;
}

.sec-one-button {
  background-color: var(--CLOUD);
  color: var(--IRIS);
  font-family: "Roboto", sans-serif;
  justify-content: center;
  color: var(--IRIS, #4d5ae5);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  padding: 12px 24px;
}

.sec-one-button:hover,
.sec-one-button:focus {
  background-color: var(--OCEAN);
  color: var(--WHITE);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.project-header {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.project-description {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  border-left: px solid #e7e9fc;
  border-right: px solid #e7e9fc;
  text-align: left;
}

.project-description:hover,
.project-description:focus {
  transform: translateY(0%);
}

.sec-one-list-of-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/*list of portfolio projects */

.list-of-projects-sec-two {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.project-image {
  display: block;
}
.li.project-container {
  width: calc((100% - 48px) / 3);
}
.port-details {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
  margin-bottom: 8px;
}

/*stilizare overlay*/

.project-foto-card {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.overlay-paragraf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover .overlay-paragraf {
  transform: translateY(0%);
}

.project-link:focus .overlay-paragraf {
  transform: translateY(0%);
}

.portfolio-link-app:hover,
.portfolio-link-app:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-foto-card:hover .overlay-paragraf {
  transform: translateY(0%);
}
.portfolio-link-app:focus .overlay-paragraf {
  transform: translateY(0%);
}

.port-details:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
